Cython==3.0.11
attr==0.3.2
Brotli==1.0.9
brotlicffi==1.1.0.0
cchardet==2.1.7
ConfigParser==7.1.0
cryptography==42.0.5
dl==0.1.0
docutils==0.21.2
h2==4.1.0
HTMLParser==0.0.2
importlib_metadata==8.5.0
#importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.4
jnius==1.1.0
js==1.0
keyring==25.5.0
lockfile==0.12.2
lxml==5.3.0
numpy==2.1.3
ordereddict==1.1
Pillow==11.0.0
protobuf==5.28.3
pyodide==0.0.2
pyOpenSSL==24.2.1
pytest==8.3.3
railroad==0.5.0
selenium==4.27.1
simplejson==3.19.3
Sphinx==8.1.3
thread==2.0.5
toml==0.10.2
tornado==6.4.2
xmlrpclib==1.0.1
zipp==3.20.2
zipp==3.19.2
zstandard==0.22.0
