absl-py==2.1.0  # Tim's
altair==5.4.1  # Tim's
annotated-types==0.7.0  # Tim's
anyio==4.6.2.post1  # Tim's
attr==0.3.2
attrs==24.2.0  # Tim's was: 24.2.0
bcrypt==4.2.0  # Tim's
blinker==1.8.2  # Tim's
branca==0.8.0  # Tim's
bs4
cachetools==5.5.0  # Tim's
captcha==0.6.0  # Tim's
certifi==2024.8.30  # Tim's
charset-normalizer==3.4.0  # Tim's
click==8.1.7  # Tim's
ConfigParser==7.1.0
cryptography==42.0.5
Cython==3.0.11
distro==1.9.0  # Tim's
dl==0.1.0
docutils==0.21.2
et_xmlfile==2.0.0  # Tim's
exceptiongroup==1.2.2  # Tim's
extra-streamlit-components==0.1.71  # Tim's
geographiclib==2.0  # Tim's
geopy==2.4.1  # Tim's
gitdb==4.0.11  # Tim's
GitPython==3.1.43  # Tim's
googlemaps==4.10.0  # Tim's
greenlet==3.1.1  # Tim's
h11==0.14.0  # Tim's
h2==4.1.0
HTMLParser==0.0.2
httpcore==1.0.7  # Tim's
httpx==0.27.2  # Tim's
idna==3.10  # Tim's
importlib_metadata==8.5.0
immutabledict==4.2.1  # Tim's
iniconfig==2.0.0  # Tim's
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.5 # Tim's was: 3.1.4
js==1.0
jsonschema==4.23.0  # Tim's
jsonschema-specifications==2024.10.1  # Tim's
keyring==25.5.0
lockfile==0.12.2
lxml==5.3.0
markdown-it-py==3.0.0  # Tim's
MarkupSafe==3.0.2  # Tim's
mdurl==0.1.2  # Tim's
narwhals==1.13.1  # Tim's
# numpy==2.2.1 # Tim's was: 2.1.3
openai==1.54.4  # Tim's
openpyxl==3.1.5  # Tim's
ordereddict==1.1
# ortools==9.11.4210  # Tim's
packaging==24.1  # Tim's
pandas==2.2.3 # Tim's was: 2.2.3
Pillow==10.4.0 # Kubi's was: 11.0.0
playwright==1.49.0  # Tim's
plotly==5.24.1 # Tim's was: 5.24.1
pluggy==1.5.0  # Tim's
protobuf==5.29.2 # Tim's was: 5.28.3
PuLP==2.9.0  # Tim's
pyarrow==18.0.0  # Tim's
pydantic==2.9.2  # Tim's
pydantic_core==2.23.4  # Tim's
pydeck==0.9.1  # Tim's
pyee==12.0.0  # Tim's
Pygments==2.18.0  # Tim's
PyJWT==2.9.0  # Tim's
pyOpenSSL==24.3.0
pytest==8.3.4 # Tim's was: 8.3.4
pytest-base-url==2.1.0  # Tim's
pytest-playwright==0.6.2  # Tim's
python-dateutil==2.9.0.post0  # Tim's
python-dotenv==1.0.1  # Tim's
python-slugify==8.0.4  # Tim's
pytz==2024.2  # Tim's
PyYAML==6.0.2  # Tim's
railroad==0.5.0
referencing==0.35.1  # Tim's
requests==2.32.3  # Tim's
rich==13.9.4  # Tim's
rpds-py==0.20.1  # Tim's
selenium==4.27.1
simplejson==3.19.3
six==1.16.0  # Tim's
smmap==5.0.1  # Tim's
sniffio==1.3.1  # Tim's
Sphinx==8.1.3
st-copy-to-clipboard==0.1.6  # Tim's
streamlit==1.41.1 # Tim's was: 1.39.0
streamlit-authenticator==0.4.1  # Tim's
streamlit-option-menu==0.4.0  # Tim's
streamlit_folium==0.23.1  # Tim's
tenacity==9.0.0  # Tim's
text-unidecode==1.3  # Tim's
thread==2.0.5
toml==0.10.2 # Tim's was: 0.10.2
tomli==2.2.1  # Tim's
tornado==6.4.2 # Tim's was: 6.4.1
tqdm==4.67.0  # Tim's
typing_extensions==4.12.2  # Tim's
tzdata==2024.2  # Tim's
urllib3==2.2.3  # Tim's
vllm==0.6.4.post1
watchdog==5.0.3  # Tim's
webdriver_manager
xyzservices==2024.9.0  # Tim's
zipp==3.20.2
zstandard==0.22.0
